## 4) How many total people have died as a result of Covid-19 in the state of New York,Texas, Louisiana, California, and Washington?

In [1]:
import pandas as pd

In [3]:
dfD_0 = pd.read_csv('Provisional_Death_Counts_for_Coronavirus_Disease__COVID-19_.csv')
dfD_0

,Group,Indicator,All COVID-19 Deaths (U07.1),Deaths from All Causes,Percent of Expected Deaths,All Pneumonia Deaths (J12.0-J18.9),Deaths with Pneumonia and COVID-19 (J12.0-J18.9 and U07.1)
0,By week,Total Deaths,1889,466306,0.81,26307,773
1,By week,2/1/2020,0,56099,0.95,2993,0
2,By week,2/8/2020,0,56263,0.94,2986,0
3,By week,2/15/2020,0,54545,0.93,2868,0
4,By week,2/22/2020,0,54139,0.93,2841,0
...,...,...,...,...,...,...,...
71,By state,Virginia,6,12195,0.88,485,2
72,By state,Washington,151,10278,0.88,611,61
73,By state,West Virginia,0,2633,0.57,145,0
74,By state,Wisconsin,1,9481,0.89,396,0
75,By state,Wyoming,0,763,0.84,43,0

# Selecting Data of States only from the ( collective By week only)

In [8]:
dfD_1=dfD_0.loc[dfD_0['Group'] == 'By state']
dfD_1

,Group,Indicator,All COVID-19 Deaths (U07.1),Deaths from All Causes,Percent of Expected Deaths,All Pneumonia Deaths (J12.0-J18.9),Deaths with Pneumonia and COVID-19 (J12.0-J18.9 and U07.1)
23,By state,Total US,1889,466306,0.81,26307,773
24,By state,Alabama,2,8452,0.80,421,1
25,By state,Alaska,0,589,0.70,23,0
26,By state,Arizona,0,10540,0.86,523,0
27,By state,Arkansas,0,5680,0.88,290,0
28,By state,California,90,48816,0.88,3266,44
29,By state,Colorado,21,7172,0.90,341,11
30,By state,Connecticut,0,0,0.00,0,0
31,By state,Delaware,0,1295,0.69,56,0
32,By state,District of Columbia,1,961,0.79,61,0
33,By state,Florida,51,38511,0.90,1966,17
34,By state,Georgia,21,13164,0.78,597,10
35,By state,Hawaii,0,1946,0.82,120,0
36,By state,Idaho,3,2550,0.89,113,1
37,By state,Illinois,64,19429,0.90,1233,36
38,By state,Indiana,0,10751,0.80,605,0
39,By state,Iowa,1,5240,0.85,309,0
40,By state,Kansas,3,4665,0.85,252,1
41,By state,Kentucky,3,7149,0.73,458,1
42,By state,Louisiana,48,7021,0.76,269,21
43,By state,Maine,3,2768,0.94,192,2
44,By state,Maryland,5,9117,0.90,530,0
45,By state,Massachusetts,6,10695,0.87,734,3
46,By state,Michigan,11,16894,0.86,840,1
47,By state,Minnesota,6,7943,0.90,422,2
48,By state,Mississippi,3,5526,0.86,362,0
49,By state,Missouri,7,10372,0.79,506,5
50,By state,Montana,0,1780,0.85,82,0
51,By state,Nebraska,0,2847,0.82,184,0
52,By state,Nevada,3,4458,0.86,215,2
53,By state,New Hampshire,3,2322,0.92,116,1
54,By state,New Jersey,43,13537,0.89,723,24
55,By state,New Mexico,0,2874,0.71,161,0
56,By state,New York,212,19188,0.94,1490,116
57,By state,New York City,1073,12388,1.13,1316,388
58,By state,North Carolina,0,3060,0.16,151,0
59,By state,North Dakota,0,1205,0.85,86,0
60,By state,Ohio,0,16978,0.68,676,0
61,By state,Oklahoma,3,6113,0.75,383,0
62,By state,Oregon,10,5708,0.78,241,7
63,By state,Pennsylvania,19,18182,0.65,913,10
64,By state,Rhode Island,0,1546,0.73,53,0
65,By state,South Carolina,5,8763,0.88,393,2
66,By state,South Dakota,1,1283,0.77,70,0
67,By state,Tennessee,1,12812,0.86,737,1
68,By state,Texas,6,34148,0.83,1928,2
69,By state,Utah,2,3446,0.92,171,0
70,By state,Vermont,1,1072,0.92,49,1
71,By state,Virginia,6,12195,0.88,485,2
72,By state,Washington,151,10278,0.88,611,61
73,By state,West Virginia,0,2633,0.57,145,0
74,By state,Wisconsin,1,9481,0.89,396,0
75,By state,Wyoming,0,763,0.84,43,0

### Selecting Data only for cases (died as a result of Covid-19) for Calculations in next step

In [9]:
people_died = dfD_1[['Indicator','All COVID-19 Deaths (U07.1)']]
people_died

               Indicator  All COVID-19 Deaths (U07.1)
23              Total US                         1889
24               Alabama                            2
25                Alaska                            0
26               Arizona                            0
27              Arkansas                            0
28            California                           90
29              Colorado                           21
30           Connecticut                            0
31              Delaware                            0
32  District of Columbia                            1
33               Florida                           51
34               Georgia                           21
35                Hawaii                            0
36                 Idaho                            3
37              Illinois                           64
38               Indiana                            0
39                  Iowa                            1
40                Kansas                            3
41              Kentucky                            3
42             Louisiana                           48
43                 Maine                            3
44              Maryland                            5
45         Massachusetts                            6
46              Michigan                           11
47             Minnesota                            6
48           Mississippi                            3
49              Missouri                            7
50               Montana                            0
51              Nebraska                            0
52                Nevada                            3
53         New Hampshire                            3
54            New Jersey                           43
55            New Mexico                            0
56              New York                          212
57         New York City                         1073
58        North Carolina                            0
59          North Dakota                            0
60                  Ohio                            0
61              Oklahoma                            3
62                Oregon                           10
63          Pennsylvania                           19
64          Rhode Island                            0
65        South Carolina                            5
66          South Dakota                            1
67             Tennessee                            1
68                 Texas                            6
69                  Utah                            2
70               Vermont                            1
71              Virginia                            6
72            Washington                          151
73         West Virginia                            0
74             Wisconsin                            1
75               Wyoming                            0

# ANSWER 4# How many total people have died as a result of Covid-19 in the state of New York,Texas, Louisiana, California, and Washington?Â¶

In [12]:
people_died.loc[dfD_1['Indicator'].isin(['New York','Texas', 'Louisiana', 'California','Washington']) ]

     Indicator  All COVID-19 Deaths (U07.1)
28  California                           90
42   Louisiana                           48
56    New York                          212
68       Texas                            6
72  Washington                          151

In [15]:
# saving result
people_died.to_excel("Answer4_Data_Result.xlsx")